### IntelliJ IDEA ###
.idea
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### Mac OS ###
.DS_Store

### vscode ###
.vscode/

### maven ###
target/
dependency-reduced-pom.xml

### Others
tmp/
